@using Global.Data
@using Global.Core
@model BlockInfoDto
<div class="section">
    <table border="0">
        <tr>
            <td>
                <strong>Name: </strong>
            </td>
            <td>
                @Model.Name
            </td>
            <td>
                <strong>Is BuiltIn: </strong>
            </td>
            <td>
                @Model.IsBuiltIn
            </td>
            <td>
                <strong>Widget Name: </strong>
            </td>
            <td>
                @Model.WidgetName
            </td>
        </tr>
        <tr>
            <td>
                <strong>Description: </strong>
            </td>
            <td>
                @Model.Description
            </td>
            <td>
                <strong>Created Date: </strong>
            </td>
            <td>
                @Model.CreatedDate.ToString(UIConst.DateTimeFormat)
            </td>
            <td>
                <strong>Modified Date: </strong>
            </td>
            <td>
                @Model.ModifiedDate.ToString(UIConst.DateTimeFormat)
            </td>
        </tr>
    </table>
</div>
